[submodule "lib/blockly"]
	path = lib/blockly
	url = https://github.com/google/blockly.git
[submodule "lib/closure-library"]
	path = lib/closure-library
	url = https://github.com/google/closure-library.git
